venv/
.env
*.pyc
/static/
INMS Django Project.drawio (1).png
*/migrations/
__pycache__/
/media/
.env
.idea/
.vscode/
api.http
pyproject.toml
.python-version

*.sqlite3
*.log
*.db
*.pot
*.mo
*.swp
*.bak
*.orig