/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000; /* Light grey background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container Styles */
.container {
    background-color: #373232;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.container h2 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: 500;
    text-align: left; /* Align label to the left */
}

input[type="email"] {
    width: 90%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

input[type="email"]:focus {
    outline: none;
    border-color: #000000; /* Green accent color */
}

/* Button Styles */
button[type="submit"] {
    background-color: #118696; /* Green accent color */
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #00574a; /* Darker green on hover */
}
